@font-face {
  font-family: 'Stolzl-Bold';
  src: url('../fonts/Stolzl-Bold.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Stolzl-Bold.otf')  format('opentype'),
	  url('../fonts/Stolzl-Bold.woff') format('woff'),
	  url('../fonts/Stolzl-Bold.ttf')  format('truetype'),
	  url('../fonts/Stolzl-Bold.svg#Stolzl-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Book';
  src: url('../fonts/Stolzl-Book.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Stolzl-Book.otf')  format('opentype'),
	  url('../fonts/Stolzl-Book.woff') format('woff'),
	  url('../fonts/Stolzl-Book.ttf')  format('truetype'),
	  url('../fonts/Stolzl-Book.svg#Stolzl-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Black-Caps';
  src: url('../fonts/Intro-Black-Caps.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Intro-Black-Caps.otf')  format('opentype'),
	  url('../fonts/Intro-Black-Caps.woff') format('woff'),
	  url('../fonts/Intro-Black-Caps.ttf')  format('truetype'),
	  url('../fonts/Intro-Black-Caps.svg#Intro-Black-Caps') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Bold';
  src: url('../fonts/Intro-Bold.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Intro-Bold.otf')  format('opentype'),
	  url('../fonts/Intro-Bold.woff') format('woff'),
	  url('../fonts/Intro-Bold.ttf')  format('truetype'),
	  url('../fonts/Intro-Bold.svg#Intro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Book';
  src: url('../fonts/Intro-Book.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Intro-Book.otf')  format('opentype'),
	  url('../fonts/Intro-Book.woff') format('woff'),
	  url('../fonts/Intro-Book.ttf')  format('truetype'),
	  url('../fonts/Intro-Book.svg#Intro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Light';
  src: url('../fonts/Intro-Light.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Intro-Light.otf')  format('opentype'),
	  url('../fonts/Intro-Light.woff') format('woff'),
	  url('../fonts/Intro-Light.ttf')  format('truetype'),
	  url('../fonts/Intro-Light.svg#Intro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}