$font1: 'Stolzl-Bold';
$font2: 'Stolzl-Book';
$font3: 'Intro-Black-Caps';
$font4: 'Intro-Bold';
$font5: 'Intro-Book';
$font6: 'Intro-Light';

$color1: #0f2c35;
$color2: #2f86c9;
$color3: #f5881e;
$color4: #0f5183;
$color5: #9f540a;

// Sass Breakpoint Mixin
@mixin breakpoint($point) {
	@if $point == p576 {
		@media (min-width: 576px) { @content; }
	}
	@else if $point == p768 {
		@media (min-width: 768px) { @content; }
	}
	@else if $point == p1100 {
		@media (min-width: 1100px) { @content; }
	}
	@else if $point { // allows custom breakpoints
		@media (min-width: $point) { @content; }
	}
}

@import 'fonts';
@import 'reset';


/* common classes */
body {
	min-width: 320px;
	height: 100%;
	font-family: $font6;
	font-size: 14px;
	background-color: #fff;
}

.container {
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@include breakpoint(p576) {
		max-width: 540px;
	}
	@include breakpoint(p768) {
		max-width: 720px;
	}
	@include breakpoint(p1100) {
		max-width: 1030px;
	}
}

h1 {
	font-family: $font3;
	font-size: 54px;
	text-transform: uppercase;
	@include breakpoint(p768) {
		font-size: 62px;
	}
}
h2, h3 {
	font-family: $font3;
	font-size: 32px;
	text-transform: uppercase;
	@include breakpoint(p1100) {
		font-size: 36px;
	}
}

a, button {
	transition: 0.3s ease;
}

.bg-layout-cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.global-wrap {
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}


/* flex-classes */
.flexbox {
	display: flex;
}
.flex-space-start {
	justify-content: flex-start;
}
.flex-space-b {
	justify-content: space-between;
}
.flex-space-c {
	justify-content: center;
}
.flex-space-end {
	justify-content: flex-end;
}
.flex-align-top {
	align-items: flex-start;
}
.flex-align-center {
	align-items: center;
}
.flex-align-bottom {
	align-items: flex-end;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.flex-grow-1 {
	flex-grow: 1;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap-align-sbtw {
	align-content: space-between;
}
.flex-direct-col {
	flex-direction: column;
}

/* btn-link */
.btn-link {
	display: block;
	min-width: 290px;
	color: #fff;
	font-family: $font3;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.15rem;
	padding: 15px;
	border-radius: 3px;
	margin: 5px 0;
	@include breakpoint(p576) {
		min-width: 206px;
		margin: 0 10px;
	}
	&:hover {
		color: #fff;
	}
}
.blue-link {
	background-color: $color2;
	&:hover {
		background-color: $color4;
	}
}
.orange-link {
	background-color: $color3;
	&:hover {
		background-color: $color5;
	}
}



/* main-screen */
.main-screen {
	color: #fff;
	background-color: $color1;
	.main-screen-inner {
		text-align: center;
		padding: 40px 0;
		h1 {
			margin-top: 50px;
		}
		.subtext {
			font-family: $font5;
			font-size: 20px;
			text-transform: uppercase;
			margin-top: 10px;
			letter-spacing: 0.15rem;
			@include breakpoint(p768) {
				font-size: 26px;
			}
		}
	}
}

/* phones */
.phones {
	position: relative;
	color: $color1;
	padding: 35px 0;
	.phones-inner {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		.brand {
			margin: 5px 15px;
			&:first-child {
				width: 200px;
				@include breakpoint(p576) {
					margin: 0 15px;
				}
				@include breakpoint(p768) {
					width: auto;
				}
			}
			&:last-child {
				width: 170px;
				@include breakpoint(p768) {
					width: auto;
				}
			}
		}
		.phone-img-elem {
			width: 50%;
			font-family: $font1;
			font-size: 16px;
			text-align: center;
			line-height: 1.4;
			text-transform: uppercase;
			@include breakpoint(p576) {
				width: 33%;
			}
			@include breakpoint(p768) {
				width: 16.5%;
			}
			img {
				height: 130px;
				margin-bottom: 10px;
				@include breakpoint(p1100) {
					height: auto;
				}
			}
			span {
				display: block;
			}
			.phone-name {
				font-family: $font2;
			}
		}
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 66px;
		height: 24px;
		background: url(../img/triangle.png) no-repeat;
		top: -16px;
		right: 50%;
		transform: translateX(50%);
		z-index: 0;
	}
}


/* how-works */
.how-works {
	position: relative;
	overflow: hidden;
	color: #fff;
	padding: 32px 0;
	background: url(../img/bg.jpg) center/cover no-repeat;
	@include breakpoint(p768) {
		padding: 42px 0 32px 0;
	}
	.text-group {
		@include breakpoint(p768) {
			width: 600px;
		}
		@include breakpoint(p1100) {
			width: 690px;
		}
	}
	.marked {
		font-family: $font4;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin-bottom: 25px;
		@include breakpoint(p768) {
			column-count: 2;
		}
		@include breakpoint(p1100) {
			font-size: 18px;
		}
		li {
			&::before {
				content: '';
				display: inline-block;
				width: 24px;
				height: 24px;
				background: url(../img/sprite.png) no-repeat;
				margin-right: 10px;
				vertical-align: -5px;
			}
			&:nth-child(1)::before {
				background-position: 0 0;
			}
			&:nth-child(2)::before {
				background-position: 0 -24px;
			}
			&:nth-child(3)::before {
				background-position: 0 -48px;
			}
			&:nth-child(4)::before {
				background-position: 0 -72px;
			}
			+ li {
				margin-top: 15px;
			}
		}
	}
	.skew-elem {
		position: relative;
		padding: 35px 0;
		z-index: 2;
		.text-bl {
			position: relative;
			z-index: 1;
		}
		h3 {
			margin-bottom: 20px;
		}
		ol {
			font-family: $font6;
			font-size: 18px;
			line-height: 1.4;
			list-style: decimal;
			padding-left: 22px;
			@include breakpoint(p1100) {
				font-size: 20px;
			}
		}
		.skew-bl {
			position: absolute;
			top: 0;
			right: -500px;
			bottom: 0;
			left: -500px;
			background-color: $color1;
			border-radius: 4px;
			z-index: 0;
			transform: skewX(-25deg);
			@include breakpoint(p768) {
				right: 50px;
			}
			&.orange-bl {
				border: 2px solid $color3;
			}
			&.blue-bl {
				border: 2px solid $color2;
			}
		}
		&.mod {
			top: -2px;
			z-index: 1;
		}
	}
	.proc-time {
		font-family: $font3;
		font-size: 26px;
		text-transform: uppercase;
		margin-top: 35px;
		@include breakpoint(p1100) {
			font-size: 36px;
		}
		img {
			display: none;
			width: 48px;
			margin-right: 20px;
			vertical-align: middle;
			@include breakpoint(p576) {
				display: inline-block;
			}
			@include breakpoint(p1100) {
				width: auto;
				font-size: 36px;
			}
		}
	}
	.img-hand-phone {
		display: none;
		position: absolute;
		width: 350px;
		right: calc(50% - 480px);
		bottom: 0;
		z-index: 5;
		@include breakpoint(p768) {
			display: block;
		}
		@include breakpoint(p1100) {
			width: auto;
			right: calc(50% - 480px);
		}
	}
}


/* be-able */
.be-able {
	position: relative;
	overflow: hidden;
	font-family: $font6;
	font-size: 18px;
	@include breakpoint(p1100) {
		font-size: 20px;
	}
	.be-able-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../img/bg-ptrn.jpg) center;
		opacity: 0.03;
		z-index: 0;
	}
	.phone-e {
		display: none;
		position: absolute;
		bottom: -38px;
		left: calc(50% - 460px);
		z-index: 1;
		@include breakpoint(p768) {
			display: block;
		}
		@include breakpoint(p1100) {
			left: calc(50% - 525px);
		}
	}
	.be-able-cont {
		position: relative;
		z-index: 3;
	}
	.be-able-inner {
		color: $color1;
		padding: 70px 0;
		@include breakpoint(p768) {
			padding: 70px 0 70px 200px;
		}
		@include breakpoint(p1100) {
			padding: 90px 0 90px 280px;
		}
	}
	h2 {
		margin-bottom: 25px;
	}
	ul {
		line-height: 1.4;
	}
}


/* btm-bl */
.btm-bl {
	background-color: $color1;
	padding: 25px 0;
}


















