//= html_parts/head.html

			<main>
				
				<div class="main-screen">
					<div class="container">
						<div class="main-screen-inner">
							<div class="links-wrap flexbox flex-space-c flex-align-center flex-wrap">
								<a href="#" class="btn-link blue-link">contact us</a>
								<a href="#" class="btn-link orange-link">Other service</a>
							</div>
							<h1>FACTORY UNLOCK</h1>
							<p class="subtext">All models supported</p>
						</div>
					</div>
				</div>
				
				<div class="phones">
					<div class="container">
						<div class="phones-inner flexbox flex-space-c flex-align-center flex-wrap">
							<img src="img/brand1.png" class="brand" alt="">
							<img src="img/brand2.png" class="brand" alt="">
						</div>
						<div class="phones-inner flexbox flex-space-b flex-wrap">
							<div class="phone-img-elem">
								<img src="img/phone1.png" alt="">
								<span>unlock</span>
								<span class="phone-name">iPhone XS / XS Max</span>
							</div>
							<div class="phone-img-elem">
								<img src="img/phone2.png" alt="">
								<span>unlock</span>
								<span class="phone-name">iPhone XR</span>
							</div>
							<div class="phone-img-elem">
								<img src="img/phone3.png" alt="">
								<span>unlock</span>
								<span class="phone-name">iPhone X</span>
							</div>
							<div class="phone-img-elem">
								<img src="img/phone4.png" alt="">
								<span>unlock</span>
								<span class="phone-name">iPhone 8/8+</span>
							</div>
							<div class="phone-img-elem">
								<img src="img/phone5.png" alt="">
								<span>unlock</span>
								<span class="phone-name">iPhone 7/7+</span>
							</div>
							<div class="phone-img-elem">
								<img src="img/phone6.png" alt="">
								<span>unlock</span>
								<span class="phone-name">iPhone 6S/6S+</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="how-works">
					<div class="container">
						<div class="how-works-inner">
							<div class="text-group">
								<ul class="marked">
									<li>Superfast service</li>
									<li>Highest success rate</li>
									<li>Money back guarantee</li>
									<li>24/7 Customer Support</li>
								</ul>
								<div class="skew-elem">
									<div class="text-bl">
										<h3>How the service works:</h3>
										<ol>
											<li>Your IMEI number is sent to the unlock server</li>
											<li>Unlock is being processed during stated timeframe</li>
											<li>The unlock server provides us an unlock code</li>
										</ol>
									</div>
									<div class="skew-bl orange-bl"></div>
								</div>
								<div class="skew-elem mod">
									<div class="text-bl">
										<h3>How to place your order:</h3>
										<ol>
											<li>Click on “Buy It Now” button</li>
											<li>Add your IMEI in a message to seller during checkout</li>
											<li>Wait for a message about successful unlock from us</li>
										</ol>
									</div>
									<div class="skew-bl blue-bl"></div>
								</div>
								<p class="proc-time"><img src="img/rocket.png" alt="">Processing time: 24-48 hours</p>
							</div>
							<img src="img/hand_phone.png" class="img-hand-phone" alt="">
						</div>
					</div>
				</div>
				
				<div class="be-able">
					<div class="be-able-bg"></div>
					<img src="img/phone_e.png" alt="" class="phone-e">
					<div class="be-able-cont">
						<div class="container">
							<div class="be-able-inner">
								<h2>We will be able to get your iphone unlocked only if:</h2>
								<ul>
									<li>your AT&amp;T Samsung isn’t reported lost or stolen</li>
									<li>your AT&amp;T Samsung is paid off (with completed contract or installment plan)</li>
									<li>your AT&amp;T Samsung isn’t active on another AT&amp;T account</li>
									<li>14 days have past since the last AT&amp;T account upgrade</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="btm-bl">
					<div class="container">
						<div class="links-wrap flexbox flex-space-c flex-align-center flex-wrap">
							<a href="#" class="btn-link blue-link">contact us</a>
							<a href="#" class="btn-link orange-link">Other service</a>
						</div>
					</div>
				</div>
				
			</main>

//= html_parts/end.html